
.container{
        margin-top: 50px;
        display: inline-block;
        
    }

    .options-container{
        width: 280px;
        background-color: #99ccff;
        float: left;
        
         margin: 0 auto;

    }

    .options{
        padding: 5px
    }
    input{
        
    }


    .summary{
        float: right;
        width: 400;
        margin: 0;
  }
  .results{
  padding-left: 20px;
    float: left; 
  }

  #jobSheet{
    padding-left: 20px;
  }

