<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" ng-show="schedule">
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Add New Tool</h3>
      </div>
      <div class="modal-body">
       
      

<form id="add_Tool" ng-submit="a.submit()">


<p>
<button type="submit" id="submit" value="Submit" >Submit</button>
</p>


</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>

</div>
<!--END MODAL-->